.block {
    overflow: auto;
}

.left, .right {
    width: 45%;
    float: left;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}

.right {
    background-color: rgb(206, 203, 203);
}

@media screen and (max-width: 540px) {
    .left, .right {
        width: 100%;
    }
}
